<h1>Listing car_dealerships</h1>

<table>
  <tr>
    <th>Names</th>
    <th>Contact numbers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealerships.each do |dealership| %>
  <tr>
    <td><%= dealership.dealership %></td>
    <td><%= dealership.contact_numbers %></td>
    <td><%= link_to 'Show', dealership %></td>
    <td><%= link_to 'Edit', edit_dealership_path(dealership) %></td>
    <td><%= link_to 'Destroy', dealership, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dealership', new_dealership_path %>
